@use "../abstracts/" as *;

// main container block

.task_adding_container.adding {
  .task_adding_icon {
    display: none;
  }
  .new_task {
    display: block;
  }
  .task_content {
    display: block;
  }
  .task_control {
    display: flex;
  }
}
.task_adding_container {
  .task_adding_icon {
    padding: 18px 32px;
    border: 2px solid $gray-300;
    background: $white;
    font-size: 24px;
    color: $gray-300;
    cursor: pointer;
  }
}

// 渲染 form 父層
.task_list_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.task_counter {
  @include Status;
}
// base task
.task_container {
  background: $gray-200;
  border-radius: 5px;
  order: 1;
}
.task_title {
  display: flex;
  align-items: first baseline;
  padding: 24px 32px;
  gap: 16px;

  input[name="isDone"] {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    appearance: none;
    background: $white;
    border-radius: 2px;
    cursor: pointer;
  }
  input[name="isDone"]:checked {
    background: url("../image/check-solid.svg") $light-blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  input[type="text"] {
    flex-grow: 1;
    width: 100%;
    @include Paragraph;
    font-weight: 500;
    @include breakpoint($sm) {
      @include Title;
    }
    background: $gray-200;
    &::placeholder {
      color: black;
    }
  }
  input[type="text"]:disabled {
    color: $black;
  }
  button {
    padding: 0;
    background: none;
    height: 24px;
  }

  input[name="isImportant"] {
    flex-shrink: 0;
    width: 27px;
    height: 24px;
    appearance: none;
    background: url("../image/star-regular.svg");
    cursor: pointer;
  }
  input[name="isImportant"]:hover,
  input[name="isImportant"]:checked {
    background: url("../image/star-solid.svg");
  }

  .edit:hover {
    i {
      font-weight: 600;
      color: $light-blue;
    }
  }

  &_dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    > div:nth-child(1) {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 16px;
      @include breakpoint($sm) {
        gap: 32px;
      }
      i {
        line-height: 24px;
        font-size: 24px;
      }
    }
    .task_title_status {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 16px;
      color: $gray-400;
    }
    .fa-calendar-days {
      margin: 0 8px 0 0;
    }
  }
}
.task_content {
  display: none;
  padding: 25.6px 39px 24px 36px;
  @include breakpoint($sm) {
    padding: 25.6px 78px 24px 72px;
  }
  > div {
    display: flex;
    align-items: baseline;
    gap: 8px;
    & + div {
      margin-top: 27px;
    }
  }
  p {
    @include Subtitle;
    margin-bottom: 8px;
  }
  &_subtitle {
    flex-grow: 1;
    textarea {
      width: 100%;
      padding: 8px 16px;
    }
  }
  .file_container {
    display: flex;
    align-items: center;
    gap: 24px;
    span {
      display: block;
    }
    .file_time {
      @include Remark;
    }
    .add_file {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 32px;
      width: 32px;
      background: $gray-300;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: $light-blue;
      }
      i {
        font-weight: bolder;
        color: $white;
      }
      input {
        display: none;
      }
    }
  }
  .date_container {
    input[name="date"],
    input[name="time"] {
      width: 162px;
      padding: 8px 16px;
    }
  }
}
.task_control {
  display: none;
  button {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 50%;
    gap: 16px;
    @include Title;
    font-weight: $Regular;
    &:nth-child(1) {
      background: $white;
      color: $red;
      border-bottom-left-radius: 5px;
      &:hover {
        background: #fdfdfd;
      }
    }
    &:nth-child(2) {
      background: $light-blue;
      color: $white;
      border-bottom-right-radius: 5px;
      &:hover {
        background: #3982d7;
      }
    }
  }
}
// task status
.task_container.new_task {
  display: none;
  z-index: 0;
  .task_title_status {
    display: none;
  }
}
.task_container.new_task,
.task_container.editing {
  .edit {
    i {
      font-weight: 600;
      color: $light-blue;
    }
  }
}
.task_container.editing {
  box-shadow: 0 4px 4px 0 $gray-300;
  .task_content {
    display: block;
    border-top: 3px solid $gray-300;
  }
  .task_control {
    display: flex;
  }
  .task_title_status {
    display: none;
  }
}
.task_container.important {
  order: 0;
  .task_title,
  .task_title input[name="title"] {
    background-color: $important-bg;
  }
  input[name="isImportant"] {
    background: url("../image/star-solid.svg");
  }
}
.task_container.finished {
  order: 2;
  .task_title {
    input[name="title"] {
      text-decoration: line-through;
      color: #9b9b9b;
      &::placeholder {
        color: #9b9b9b;
      }
    }
  }
  .task_title_status {
    display: none;
  }
}

.task_container.dragging {
  position: relative;
  .task_title::before {
    content: ".  .  .";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    font-size: 30px;
    color: #d8d8d8;
  }
}
